* {
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
    /* font-size: 14px; */
}

/* navbar */

.navbar {
    height: 60px;
    background-color: #131a22;
    color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    

}

/* box1 */
.nav-logo {
    height:50px;
    width: 8%;
    background-image: url("amazon_logo.png");
    background-size: cover;
    border: transparent;
    margin: 1px;
    padding: 1px 8px 8px 6px;
}
/* box 2 */
.nav-location {
    height: 50px;
    width: 14%;
    
    border: transparent;
    margin: 5px 2px 5px 0px;
    padding: 0px 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-location p {
    font-size: 0.75rem;
    margin-left: 4px;
}

.nav-first{
    color: #cccccc;
}
.nav-second {
    font-size: 28px;
    font-weight: 900;
}

/* box 3 */
.nav-search {
    height: 42px;
    width: 49%;
    /* background-color: rgb(245, 22, 59); */
    display: flex;
    justify-content: center;
    align-items: center;
    border: transparent;
    border-radius: 4px;
    margin-left: 10px;
}

.border:hover {
    border: 2px solid white;
}

.border2:hover {
    border: 3px solid rgb(226, 196, 22);
}

.nav-search-one {
    height: 50%;
    width: 10%;
    /* background-color: yellow; */
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e6e6;
    /* margin-top: 1px; */
    color: black;
}

.all {
    height: 80%;
    width: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-left: 3px;
    font-size: 1rem;
    border: #dadbd593;
    color: rgba(8, 1, 1, 0.911);
    background-color: #e6e6e6;
    padding-top: -2px;
    
}
.nav-search-two {
    width: 95%;
    /* height: 50%; */
    /* border: 3px solid red; */
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    

}

.nav-search-two-placeholder {
    height: 100%;
    width: 75%;
    /* display: inline-block; */
    padding: 7px 0px 9px 0px;
    margin-bottom: 3px;
    /* margin-top: 1px; */
    border: white;
    /* background-color: aquamarine; */

}

.nav-search-three {
    height: 80%;
    width: 10%;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: transparent;
    background-color: rgb(231, 161, 9);
    margin: 0px 0px 0px 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

}

/* nav-tools */
.nav-tools {
    height: 50px;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: pink; */
    
}

.nav-tools-one {
    height: 58px;
    width: 15%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-tools-two {
    height: 58px;
    width: 35%;
    /* background-color: rgb(141, 23, 23); */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
} 

.nav-tools-two-p {
    display: flex;
    font-weight: 700;
    font-size: 0.85rem;
}

.nav-tools-three {
    height: 58px;
    width: 16%;
    /* background-color: rgb(231, 214, 60); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 0.85rem;
    padding-left: 4px;
}

.orders {
    font-size: 0.85rem;
    font-weight: 700;
    margin-left: 2px;
}

.nav-tools-four {
    height: 58px;
    width: 20%;
    /* background-color: rgb(22, 228, 91); */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    font-weight: 700;
}

.nav-tools-four i {
    font-size: 1.7rem;
    padding-right: 4px;
}
 


.dropdown {
    font-size: 0.2rem;
    width: 1rem;
    padding-left: 3px;
}

.fa-caret-down{
    color: grey;
    margin-left: 2px;
    margin-top:1px;

}

/* navbar second */

.nav-bar-second {
    height: 39px;
    background-color: #232f3e;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.nav-bar-second-box1 {
    /* background-color: pink; */
    height: 39px;
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar-second-box2 {
    /* background-color: rgb(228, 22, 56); */
    width: 65%;
    height: 39px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.9rem;
}

.nav-bar-second-box3 {
    /* background-color: rgb(52, 175, 41); */
    width: 30%;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("navbar-second.jpg");
    background-size: cover;
    
}

/* hero */

.hero {
    height: 415px;
    max-width: 100%;
    /* background-color: pink; */
    background-image: url("hero\ image\ 2.jpg");
    background-size: cover;
    z-index: -1;
    
}

.section {
    background-color: #dadbd593;
}

.section-first-row {
    height: 420px;
    display: flex;
    
    justify-content: space-evenly;
    align-items: center;
    /* background-color: pink; */
}

.section-second-row {
    height: 420px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: rgb(255, 77, 106); */
}
.box {
    height:385px ;
    border: 2px solid black;
    width: 23%;
    padding: 20px 0px 15px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left: 10px 0px 10px 10px;
 
}

hr {
    height: 20px;
}

h2 {
    background-color: rgb(230, 20, 55);
    font-size: 1.31rem;
    height: 10%;
}
 
.section-box1-level1 {
    height: 125px;
    /* background-color: pink; */
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 10px 4px 15px 2px;

}

.section-box1-level2 {
    height: 125px;
    /* background-color: rgb(29, 189, 56); */
    width: 90%;
    display: flex;
    top: 4px;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 35px 4px 15px 2px;
}

.img1-1 {
    height: 115px;
    width: 100%;
    background-image: url("box\ 1-1.jpg");
    background-size: cover;
}
.img1-2 {
    height: 115px;
    width: 100%;
    background-image: url("box\ 1-2.jpg");
    background-size: cover;
}
.img1-3 {
    height: 115px;
    width: 190%;
    background-image: url("box\ 1-3.jpg");
    background-size: cover;
}
.img1-4 {
    height: 115px;
    width: 100%;
    background-image: url("box\ 1-4.jpg");
    background-size: cover;
}

/* footer  */

.footer-signin {
    height: 166px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    /* padding-top: 10px; */
    border-radius: 4px;
    padding: 0px 20px;
}

.footer-signin-one {
    /* background-color: red; */
    font-size: 0.80rem;
    color: #000000;
    margin-bottom: 6px;
}

.footer-signin-two {
    background-color:#ffe093;
    font-size: 0.75rem;
    color: #000000;
    border: 2px solid rgb(226, 168, 9);
    height: 28px;
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
   border-radius: 4px;
   margin-bottom: 6px;
}


.footer-signin-three {
    font-size: 0.7rem;
    color: #000000;
}

.footer-signin-three a {
    color: #007185;
}

.footer-backtotop {
    height: 49px;
    background-color: #404c5a;
    color: #ffffff;
    padding: 15px 0px;
    text-align: center;
    font-size: 0.8125rem;
}

.footer-level2 {
    background-color: #232f3e;
    color: #dddddd;
    display: flex;
    justify-content: space-evenly;
    height: 300px;
    padding-top: 15px;
    font-size: 0.86rem;
    border-bottom: 2px solid gray;
}

li {
    list-style: none;
    margin-bottom: 10px;
}

ul {
    padding: 0px;
}

.gtku, .cwu, .mmwu, .luhy {
    font-size: 1rem;
    font-weight: 700;
    margin: 6px 0px 14px;
    color: #ffffff;

}
.footer-level2-one, .footer-level2-two, .footer-level2-three, .footer-level2-four  {
    height: 251px;

}

 .footer-level3 {
    background-color: #232f3e;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 10px 0px;
 }

 .footer-language {
    border: 2px solid gray;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 35px;
    color: #cccccc;
    font-size: 0.84rem;
   /* padding: 6px 18px 6px 8px; */
    
 }

 .footer-logo {
    height: 68px ;
    width: 115px;
    /* background-color: rgb(241, 167, 179); */
    background-image: url("amazon_logo.png");
    background-size: cover;
    padding: 0px 7.5px;
    font-size: 0.8rem;
    margin-right: 10px;
    scale: 0.8;
    margin-top: 2px;
 }

 .footer-level3-one {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .country1, .country2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    width: 60%;
    font-size: 0.8rem ;
    text-decoration: none;
    color: #dddddd;
    margin-top: 0px;
    
 }

 .footer-level4 {
    height: 200px;
    background-color: #131a22;
 }

 .country1 a, .country2 a {
    color: #dddddd;
    text-decoration: none;
    font-size: 0.8rem ;
 }

 .country2 {
    width: 20%;
 }
 
 .table1, .table2 {
    color: white;
    height: 45px;
 }